

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;


}

h1{
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;

}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 0.6rem;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}

a{
  color: #11999E;
  margin: 0.6rem 1.2rem;

}

hr{

  border: dotted #EAF6F6 0.375rem;
  border-bottom: none;
  width: 4%;
  margin: 6.25rem auto;

}

p{
  line-height: 2;
}


.top-container{
/*  background-color: #00A8CC;*/
 margin-left: 12.5rem;
  margin-top: 6.25rem;
  width: 12.5rem;
  height: 6.25rem;
  position: absolute;

}

.personalpicture{
  height: 12.5rem;
  padding-top: 3.125rem;
}

.mountain-image{
  width: 100%;


}

.middle-container{
  margin: 6.25rem 0;

}

.bottom-container{

}

.coding{
  height: 12.5rem;
  float: left;
  margin-right: 1.875rem;
}

#swimming{
  height: 12.5rem;
  float: right;
  margin-left: 1.875rem;
}



.intro{
  width: 30%;
  margin: auto;
}

.skill-row{
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
  line-height: 2;
}

.contact-message{
  width: 30%;
  margin: 3.125rem auto;
}

.BUTTON_MLE {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 0.5rem;
   -moz-border-radius: 0.5rem;
   border-radius: 0.5rem;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 1.25rem;
   font-weight: 100;
   padding: 2.5rem;
   box-shadow: 0.063rem 0.063rem 1.25rem 0px #000000;
   -webkit-box-shadow: 0.063rem 0.063rem 1.25rem 0px #000000;
   -moz-box-shadow: 0.063rem 0.063rem 1.25rem 0px #000000;
   text-shadow: 0.063rem 0.063rem 1.25rem #000000;
   border: solid #337FED 0.063rem;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_MLE:hover {
   border: solid #337FED 0.063rem;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 1.25rem;
   -moz-border-radius: 1.25rem;
   border-radius: 1.25rem;
   text-decoration: none;
}

.footnote{
  background-color: #66BFBF;

  margin-top: 2.5rem;
  padding: 1.25rem;

}

.copyright{
  color: #EAF6F6;
}
